<link rel="stylesheet" href="~/css/Layout.css" type="text/css" />
<div class="layout">
    <div>
        <partial name="SideBar" />
    </div>
    <div class="content">
        <partial name="FoodPartials/FoodDetails" />
        <partial name="FoodPartials/DetailsTable" />
    </div>
</div>