.foodlist-card-list {
    display: flex;
    flex-direction: row;
    color: black;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius:15px;
    border:1px;
}

.foodlist-card {
    border: solid 1px #dee2e6;
    border-radius: 15px;
    margin: 15px;
}

.foodlist-category-title {
    /*display:flex;
    justify-content:center;
    align-items: center;*/
    text-align: center;
    font-size: 2rem;
    FONT-WEIGHT: 600;
}