.cart-card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 10px;
    border: solid 1px #dee2e6;
    border-radius: 15px;
}

.cart-img {
    height: 100px;
    border-radius: 10px;
}

.cart-delete-button {
    width: 40vw;
    background-color: red;
    border-radius: 3px;
    font-weight: 700;
    letter-spacing: .5px;
    color: #fff;
    margin: auto 25px;
    max-width: 150px;
    border-radius: 10px;
}