<link rel="stylesheet" href="~/css/Layout.css" type="text/css" />
<div class="layout">
    <div>
        <partial name="SideBar" />
    </div>
    <div class="content">
        @*<div class="col-6">*@
            <partial  name="FoodPartials/FoodCartList" />
        @*</div>*@
        @*<div class="col-6">*@
            <partial  name="FoodPartials/FoodCartConfirm" />
        @*</div>*@
    </div>
</div>

