<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EasyEOrder</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/FoodList.css" type="text/css" />
    <link rel="stylesheet" href="~/css/FoodDetails.css" type="text/css" />
    <link rel="stylesheet" href="~/css/DetailsTable.css" type="text/css" />
    <link rel="stylesheet" href="~/css/FoodCart.css" type="text/css" />
    <link rel="stylesheet" href="~/css/Layout.css" type="text/css" />

    @RenderSection("CSS", required: false)
</head>

<body>
    <header>
    </header>
    <div>
       
        <main role="main">
            <div class="layout">
                <div>
                    <partial name="SideBar" />
                </div>
                <div class="content">
                    <div class="restaurant-img-wrapper">
                        <img src="~/assets/pictures/RestaurantHDSlim2.jpg" alt="" class="restarurant-img">
                    </div>
                    @RenderBody()
                </div>
            </div>

        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
