<link rel="stylesheet" href="~/css/Sidebar.css" type="text/css" />




<!-- Sidebar -->
<div class="bg-light border-right sidebar" id="sidebar-wrapper">
    <div class="sidebar-heading">EasyEOrder </div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action bg-light" asp-area="" asp-controller="FoodList" asp-action="Index">Ajánlataink</a>
        <a class="list-group-item list-group-item-action bg-light"  asp-area="" asp-controller="FoodDetails" asp-action="Index">Rendeléseim</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Elérhetőség</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Rólunk</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Profilom</a>
    </div>
</div>

