
<link rel="stylesheet" href="~/css/Layout.css" type="text/css" />



<div class="d-flex flex-column justify-content-center align-items-center">
    <h3>--Rólunk--</h3>
    <img src="~/assets/pictures/Staff.jpg" alt="" width="600">
    <h5 class="mt-3">-------</h5>
    <h6 class=" col-5 text-center">Egész évben változatos, ízletes napi menüvel, szezonális gasztronómiai különlegességekkel, egyedülálló borvacsorákkal, vasárnapi lakomával és sok más érdekességgel várjuk Vendégeinket az EasyE Étteremben!.</h6>
    <h5 class="mt-3">-------</h5>
</div>





