<link rel="stylesheet" href="~/css/Layout.css" type="text/css" />

@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

<div class="layout">
    <div >
        <partial name="SideBar" />
    </div>

    <div class="content">
     Home
    </div>
</div>








