@model EasyEOrder.Dal.DTOs.FoodCreateDto

<div class="col-md-12  mt-5">
    <form asp-action="Index">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div  class="  flex-row flex-nowrap d-md-flex justify-content-around">
            <div class=col-md-4>

                <div class="form-group">
                    <label asp-for="Name" class="control-label"> Név</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"> Ár</label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <div class="form-group form-check">

                </div>
                <div class="form-group">
                    <label asp-for="BaseInfo" class="control-label"> Leírás</label>
                    <textarea asp-for="BaseInfo" class="form-control" /> </textarea>
                    <span asp-validation-for="BaseInfo" class="text-danger"></span>
                </div>

            </div>
            @*<div class="form-group">
                    <label asp-for="Category" class="control-label"></label>
                    <select asp-for="Category" class="form-control"></select>
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>*@
            <div class=col-md-4>
                <div class="form-group">

                    <label for="exampleFromControlSelect"> Allergének </label>
                    <select asp-for="FoodAllergens" multiple class="form-control" id="exampleFromControlSelect">
                        @foreach (var allergen in ViewBag.Allergen)
                        {
                            <option>@allergen.Text</option>
                        }


                    </select>
                </div>

                @*  @Html.ListBoxFor(m => m.FoodAllergens, new MultiSelectList(ViewBag.Allergen, "Value", "Text"), null)*@

                <div class="form-group">
                    <label for="exampleFromControlSelect"> Menu </label>
                    <select class="form-control" asp-for="MenuId" asp-items=ViewBag.menu></select>
                </div>
                <div class="form-group">

                    <label for="exampleFromControlSelect"> Kategória </label>
                    <select class="form-control" asp-for="Category" asp-items=ViewBag.Category></select>
                </div>
                @*<div class="form-group">
                        @Html.DropDownList("MenuId", (IEnumerable<SelectListItem>)ViewBag.Menu, null, new { @class = "dropdown " })
                    </div>*@

                @*<div class="form-group">
                        @Html.DropDownList("Category", (IEnumerable<SelectListItem>)ViewBag.Category)
                    </div>*@
            </div>
        </div>
        <div class="mt-4  d-md-flex  form-group align-items-center justify-content-center ">
            <input type="submit" value="Étel hozzáadása" class="btn btn-primary"  />
        </div>
    </form>
</div>