<link rel="stylesheet" href="~/css/FoodList.css" type="text/css" />

<div>
    @foreach (var foodOrderByCategory in Model)
    {
        <div class="category-title">
            <h4> @foodOrderByCategory.Category</h4>

            <div class="card-list">
                @foreach (var food in foodOrderByCategory.Foods)
                {
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="https://4cdn.hu/kraken/image/upload/s--mttn3MQz--/w_1160/6pn3V8Q207lICG8Bs.jpeg" alt="The Last Supper " />
                        <div class="card-body">
                            <h5 class="card-title">The Last Supper:  @food.Name</h5>
                            <h6 class="card-subtitle">@food.Price</h6>
                            <h7 class="card-subtitle">@food.Price</h7>
                            <p class="card-text">food.BaseInfo</p>
                            <a href="#" class="btn btn-primary">Részletek</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>