@model EasyEOrder.Dal.DTOs.FoodCreateDto

<div class="col-md-8  mt-5 ">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Id">
        <div class="  flex-row flex-nowrap d-md-flex justify-content-start">
            <div class="col-md-6 mr-4">

                <div class="form-group">
                    <label asp-for="Name" class="control-label"> Étel neve</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"> Ár</label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <div class="form-group form-check">

                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"> Leírás</label>
                    <textarea asp-for="Description" class="form-control" /> </textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

            </div>

            <div class=col-md-6>
                <div class="form-group">

                    <label for="exampleFromControlSelect"> Allergének </label>
                    <select asp-for="FoodAllergens" multiple class="form-control">
                        @foreach (var allergen in ViewBag.Allergen)
                        {
                            <option>@allergen.Text</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label for="exampleFromControlSelect"> Kategória </label>
                    <select class="form-control" asp-for="Category" asp-items=ViewBag.Category></select>
                </div>
            </div>
        </div>
        <div class="mt-4  d-md-flex  form-group align-items-center justify-content-center ">
            <input type="submit" value="Étel hozzáadása" class="btn btn-primary" />
        </div>
    </form>
</div>